<!DOCTYPE html>
<html lang="pt">
    <%- include('../partials/head'); %>
<body>

    <div class="conteudo">
        <h1>Lista de Jogos</h1>
        <a href="/feed/pesquisar">Pesquisar Jogos</a>
        <% if(postsRec.length > 0) {%>
            <% postsRec.forEach(function(dados, index) { %>
                <div class="box-jogo">
                   <div style=" display: flex; align-items: center; justify-content: start;">
                        <img class="game-img" src="../../public/img/game.png" alt="Jogo logo">
                        <span style="margin-left:10px; font-size: 18px;"><%= dados.nome %></span>
                   </div>
                    <small><%= moment(dados.criado_aos).format('lll') %></small>
                    <p style="margin: 6px 0px;">Dificuldade: <span><%= dados.dificuldade %></span> </p>
                    <a class="btn-editar" href="/feed/editar/<%= dados._id %>">Editar</a>
                </div>
            <% }); %>
        <% } else { %>  
            <h3>Nenhum post encontrado por favor clique, <a href="/">Aqui</a> para cadastrar</h3>
        <% } %>
    </div>
</body>
</html>